<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>

    <style>
 @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@600&display=swap');

body {
background-color: rgb(151, 131, 131);

}


h1, p, button {
font-family: 'Aboreto';
font-weight: 900;
color: black;
}

div {
    
    display: grid;
    place-items: center;
}
</style>
</head>

<body>
<div>
    <h1>Você escolheu: </h1>
<img src="/images/CafeCleitejpg.jpg" alt="">
<p id="leite">Express - $ 2.50</p>
<button>Fazer pedido</button>


</div>

</body>
</html>

