<!DOCTYPE html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
    <h1 class="titulo">Bem vindo ao TI Restaurant</h1>
    <h2 class="subtitulo">Venha ter sua refeição nas nuvens</h2>

    <br>

    <form method="post">
        <p>Login</p>
        <input type="text" name="login">

        <p>Senha</p>
        <input type="password" name="password">


        <br>
        <input type="submit" name="acao" value="Logar" onclick="verificaLogin()">
        <br><br>
        <a href="cadastro.html">Cadastre-se</a>

         
    </form>
</body>
</html> 

