<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="pedido.css">
    <style>  

    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@600&display=swap');

    body {
    background-color: rgb(151, 131, 131);

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}

.grid-img {   
    padding: 20px;
    text-align: center;

}

p {
    font-family: 'Aboreto';
    font-weight: 900;
    color: black;
}

    </style>
</head>
<body>
    <section class="grid-container">
        <div class="grid-img">
            <a href='/cardapio/pedido/'></a>
            <img src="/images/CaramelMacchiato.jpg" alt="">
            <p>Caramel Macchiato - $ 3.75</p>
       </div>

        <div class="grid-img">
            <img src="/images/FrenchVanilla.jpg" alt="">
            <p>French Vanilla - $ 3.00</p>
         </div>

        <div class="grid-img">
            <img src="/images/Hazelnut.jpg" alt="">
            <p>Hazelnut - $ 4.00</p>
        </div>

        <div class="grid-img">
            <img src="/images/Mocha.jpg" alt="">
            <p>Mocha - $ 4.50</p>
        </div>

        <div class="grid-img">
            <img src="/images/PumpkinSpice.jpg" alt="">
            <p>Pumpkin Spice - $ 3.50</p>
        </div>

            <div class="grid-img">
                <img src="/images/CafeCleitejpg.jpg" alt="">
                <p>Express - $ 2.50</p>
            </div>
    </section>
</body>
</html>