<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardápioLIVESERVER</title>
    <link rel="stylesheet" href="pedido.css">
    <style>  

    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@600&display=swap');

    body {
    background-color: rgb(151, 131, 131);

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}

.grid-img {   
    padding: 20px;
    text-align: center;

}

p {
    font-family: 'Aboreto';
    font-weight: 900;
    color: black;
}

    </style>
</head>
<body>
    <section class="grid-container">
        <div class="grid-img">
            <img src="/images/Donut.jpg" alt="">
            <p>Donut - $ 1.50</p>
       </div>

        <div class="grid-img">
            <img src="/images/pie.jpeg" alt="">
            <p>Cherry Pie - $ 2.75</p>
         </div>

        <div class="grid-img">
            <img src="/images/roll.jpg" alt="">
            <p>Cinnammon Roll - $2.50</p>
        </div>

        <div class="grid-img">
            <img src="/images/cake.jpg" alt="">
            <p>Cheesecake - $ 3.00</p>
        </div>

        <div class="grid-img">
            <img src="/images/pudim.jpeg" alt="">
            <p>Pudim - $ 3.50</p>
        </div>

            <div class="grid-img">
                <img src="/images/petit.jpeg" alt="">
                <p>Petit Gateau - $ 2.50</p>
            </div>
    </section>
</body>
</html>